@import "tailwindcss";

/* Smooth page transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}


@keyframes shimmer {
  0% {
    transform: translateX(-150%) skewX(-12deg);
  }

  100% {
    transform: translateX(350%) skewX(-12deg);
  }
}